.card {
    display: flex;
    flex-flow: column;
    overflow: hidden;
    justify-content: center;
    align-items: center;

    background-color: lavender;

    padding: 10px;
    margin: 20px;

    width: 90%;
    /*height: 90%;*/
    border: 1px solid dimgrey;
    border-radius: 5px;
}

.card > h2 {
    height: 5%;
}

.card > p {
    height: 15%;
    overflow: auto;
}

.image {
    width: inherit;
    height: inherit;

    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.image > img {
    width: inherit;
    height: inherit;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #1e1e1e;
}